<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF=8">
        <title>John Costello 290 Final Project</title>
    </head>

     <body>
        <form method="get" action="/insert">
            <fieldset>
                <legend>Submit button</legend>
                    <input type="text" name="a" width="30"/> <br>
                    <input type="submit" id="citySubmit" value="Submit"/>
            </fieldset>
        </form>

        <br><br><h1>MySQL Results:</h1>
        <p>{{results}}</p>



  


    </script>
    </body>

</html 